# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
.venv/

# Jupyter / Colab
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Large datasets (optional but recommended)
*.csv
*.xlsx
*.json